.idea
*.iml
*.properties
/app/*.iml
/app/*.properties
/.gradle/
/.DS_Store/
/build/
/captures/
/.idea/caches/
/app/release/
/app/debug/
/app/build/
/app/.idea/
/src/main/gen/
/translation_verifyer/
/theme_generator/
/themes/